.bicycles__link {
  color: rgba(230, 230, 230, .7);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.28;
  transition: opacity .2s linear;
}

.bicycles__link:hover {
  opacity: .5;
}
