.bicycles__container {
  max-width: 1440px;
  margin: 0;
  padding-top: 120px;
}

@media screen and (max-width: 767px) {
  .bicycles__container {
    max-width: 284px;
    margin: 0 auto;
    padding-top: 33px;
  }
}

@media screen and (max-width: 767px) {
  .bicycles__container:nth-of-type(n + 2) {
    display: none;
  }
}

@media screen and (max-width: 424px) {
  .bicycles__container:last-of-type {
    display: none;
  }
}