.bicycles__list {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 30px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 424px) {
  .bicycles__list {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 18px 20px;
  }
}