.lead__button {
  width: 180px;
  min-height: 50px;
  background-color: #24B47E;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 1px;
  color: #FFF;
  border: none;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}

.lead__button:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #319E75;
  border-radius: 4px;
  transition: all .4s ease;
}

.lead__button:hover:after {
  left: 0;
  width: 100%;
}
