.lead__button {
  display: block;
  position: relative;
  z-index: 1;
  max-width: 180px;
  width: 100%;
  min-height: 50px;
  margin: 0;
  padding: 0;
  background-color: #24B47E;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 1px;
  text-align: center;
  color: #FFF;
  transition: .4s;
}

.lead__button:after {
  position: absolute;
  z-index: 0;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #319E75;
  transition: all .4s ease;
}

.lead__button:hover:after {
  left: 0;
  width: 100%;
}