.bicycles__caption {
  margin: 0;
  padding: 22px 0 0 5px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .bicycles__caption {
    text-align: center;
  }
} 