.footer {
  background-color: #2f2f2f;
  padding: 80px 120px 60px;
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 80px calc(((100% - 1440px) / 2) + 120px) 60px;
  }
}

@media screen and (max-width: 1279px) {
  .footer {
    padding: 60px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 60px 40px;
  }
}

@media screen and (max-width: 424px) {
  .footer {
    padding: 60px 18px 25px;
  }
}
