.bicycles__image {
  max-width: 380px;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  background-color: #F4F4F4;
  border-radius: 20px;
}

@media screen and (max-width: 767px) {
  .bicycles__image {
    width: 284px;
    height: 254px;
    padding: 0;
  }
}
