.bicycles__image {
  max-width: 340px;
  max-height: 340px;
  width: 100%;
  padding: 20px;
  background-color: #F4F4F4;
  border-radius: 20px;
}

@media screen and (max-width: 767px) {
  .bicycles__image {
    max-width: 254px;
    max-height: 254px;
    padding: 0;
  }
}